# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
ios/Flutter/Flutter.podspec
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
ios/Flutter/engine/

# Android
android/.gradle/
android/local.properties
android/key.properties

# Node
node_modules/

# IDE
.idea/
*.iml
.vscode/

# Misc
*.log
*.pyc
.DS_Store
